.App {
  text-align: center;
}

.MuiButtonBase-root:disabled {
  cursor: not-allowed;
  pointer-events: auto;
 }

 .switch-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
 
.switch-wrapper > div {
  position: absolute;
  height: 100%;
  width: 100%;
}


